PORT=5006
NODE_ENV=development

MONGO_URI=mongodb://localhost:27017/bookmytrip_cabs
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://localhost:5672
JWT_ACCESS_SECRET=your_jwt_access_secret_here
CORS_ORIGINS=http://localhost:3000,http://localhost:5000
