PORT=5009
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/bookmytrip_payment
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://guest:guest@localhost:5672
JWT_ACCESS_SECRET=replace_me
CORS_ORIGINS=http://localhost:3000,http://localhost:6006
BOOKING_SERVICE_URL=http://localhost:5008